.cards_container{
    display:grid;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
   grid-gap: 2rem;
    margin: 5rem 5rem;
    
    
    
   
}




.resources_h1{
    display:flex;
    flex-direction:row;
    justify-content: center;
    align-items:center;
    font-size:3rem;
    
    text-decoration: underline;
    border-bottom:1px solid white
   
}


@media  screen and (max-width: 1000px) {
   .resources_h1{
    font-size:1rem;
    display:flex;
    flex-direction:row;
    justify-content: center;
    align-items:center;
   }
  }