.resources {
    min-height: 100vh;
    line-height: 1.5;
    background: url('../../Images//arr.png');
    background-repeat: repeat-y;
}

.card_container{
    padding: 20px;
    margin: 2rem auto;
    max-width: calc(100% - 80px);
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
    gap: 2rem;
}

@media screen and (max-width: 768px){
    .card_container{
        max-width: 608px;
    }
}

@media screen and (min-width: 1280px){
    .card_container{
        max-width: 1156px;
    }
}