.resources-head {
    margin: auto;
    background: linear-gradient(315deg, rgba(101,0,94,1) 3%, rgba(60,132,206,1) 38%, rgba(48,238,226,1) 68%, rgba(255,25,25,1) 98%);
    animation: gradient 15s ease infinite;
    background-size: 400% 400%;
    background-attachment: fixed;
    height: 35vh;
    position: relative;
    width: 100%;
}

.resources_h1 {
    position: absolute;
    top: 0px;
    color: #fff;
    height: 35vh;
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

@keyframes gradient {
    0% {
        background-position: 0% 0%;
    }
    50% {
        background-position: 100% 100%;
    }
    100% {
        background-position: 0% 0%;
    }
}

.resources_wave {
    background: rgb(255 255 255 / 25%);
    border-radius: 1000% 1000% 0 0;
    position: fixed;
    width: 200%;
    height: 12em;
    animation: resources_wave 10s -3s linear infinite;
    transform: translate3d(0, 0, 0);
    opacity: 0.8;
    bottom: 0;
    left: 0;
    z-index: -1;
}

.resources_wave:nth-of-type(2) {
    bottom: -1.25em;
    animation: resources_wave 18s linear reverse infinite;
    opacity: 0.8;
}

.resources_wave:nth-of-type(3) {
    bottom: -2.5em;
    animation: resources_wave 20s -1s reverse infinite;
    opacity: 0.9;
}

@keyframes resources_wave {
    2% {
        transform: translateX(1);
    }

    25% {
        transform: translateX(-25%);
    }

    50% {
        transform: translateX(-50%);
    }

    75% {
        transform: translateX(-25%);
    }

    100% {
        transform: translateX(1);
    }
}


.resources {
    min-height: 100vh;
    min-width: 365px;
    line-height: 1.5;
    background-repeat: repeat-y;
    background-color: #F0EEED;
}

.card_container{
    padding: 30px;
    margin: 0rem auto;
    max-width: calc(100% - 80px);
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
    gap: 3.5rem;
}

@media screen and (max-width: 768px){
    .card_container{
        max-width: 608px;
    }
    
    .resources_h1 {
        font-size: 1.5rem;
    }
}

@media screen and (min-width: 1280px){
    .card_container{
        max-width: 1156px;
    }

    .resources_h1 {
        font-size: 2rem;
    }
}

