main {
  min-width: 365px;
}

.hero {
  padding-block-start: calc(var(--section-padding) + 187px);
}

.section-title {
  font-size: 50px;
}

.hero .container {
  transform: translateY(-60px);
  display: grid;
  gap: 40px;
}

.hero-text {
  color: var(--eerie-black-1);
  font-size: var(--fs-4);
  text-align: center;
  margin-block: 18px 20px;
}

.hero .btn {
  margin-inline: auto;
}

.hero-banner {
  display: flex;
  justify-content: center;
}

.noticeboard {
  background: rgba(255, 255, 255, 0.55);
  border-radius: 16px;
  box-shadow: 10px 20px 30px #52505080;
  backdrop-filter: blur(2.5px);
  border: 7px solid rgba(255, 255, 255, 0.3);
  overflow-y: scroll;
  width: 65%;
  height: 55vh;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 16px 25px;
}

.noticeboard::-webkit-scrollbar {
  display: none;
}

.noticeboard marquee {
  position: absolute;
  bottom: 0;
  color: #3682f3;
  font-size: calc(0.9 * var(--fs-7));
}

.noevents {
  font-size: 13px;
  color: gray;
}

.back-top-btn {
  position: fixed;
  bottom: 40px;
  right: 30px;
  background-color: var(--kappel);
  color: var(--white);
  font-size: 20px;
  padding: 15px;
  border-radius: var(--radius-circle);
  z-index: 3;
  opacity: 0;
  pointer-events: none;
  transition: var(--transition-1);
}

.back-top-btn.active {
  transform: translateY(10px);
  opacity: 1;
  pointer-events: all;
}

/* -------- CATEGORY -------- */

.category .container {
  height: 500px;
}
.category .section-subtitle {
  color: var(--radical-red);
}

.category .section-title {
  /* font-size: 3rem; */
  --color: var(--kappel);
}

.category .section-text {
  color: var(--gray-web);
  margin-block-end: 60px;
}


/* ---------------------------- */

/* ----------- ABOUT ------------- */

.about {
  padding-block-start: 0;
  overflow: hidden;
}

.about .container {
  display: grid;
  gap: 30px;
}

.about-banner {
  position: relative;
  z-index: 1;
}

.about-banner .img-holder {
  border-radius: var(--radius-10);
}

.about :is(.section-subtitle, .section-title, .section-text) {
  text-align: left;
}

.about-item {
  margin-block: 15px;
  display: flex;
  align-items: center;
  gap: 15px;
}

.about-item ion-icon {
  color: var(--selective-yellow);
  font-size: 20px;
  --ionicon-stroke-width: 50px;
}

.about-item .span {
  color: var(--eerie-black-1);
  font-family: var(--ff-league_spartan);
}

.past-videos {
  display: flex;
  flex-direction: column;
  align-items: center;
  user-select: none;
}

.swiper-container {
  width: 320px;
  height: 190px;
}

.iframe {
  border-radius: 15px;
  border: 2px solid rgb(60, 255, 0);
  width: 280px;
  height: 150px;
}

.navigation-btns {
  display: flex;
  gap: 10px;
  font-size: 1.5rem;
  cursor: pointer;
}

.navigation-btns:focus {
  background: none;
}

.navigation-btn {
  padding: 10px;
  transition: all 0.1s ease-in;
  border-radius: 50%;
}

.navigation-btn:hover {
  background-color: hsl(170, 75%, 55%);
}

/* ------------------------------- */

/* ------------ VIDEO ------------ */

.video {
  background-size: cover;
  background-position: center top;
}

.video-banner {
  position: relative;
  height: 100%;
}

/* ------------- BLOG ------------- */
.blog .section-title {
  margin-block-end: 40px;
}

/* ------------------------------- */
/* @media screen and (min-width: 330px) and (max-width: 560px) */
@media  screen and  (min-width: 330px) and  (max-width :990px) {
  .container .cate {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 300px;
    width: 100%;
  }
  .category .container {
    height: 900px;
  }
}

@media (max-width: 565px) {
  .container .cate {
    grid-template-columns: 1fr;
    grid-template-rows: 20px;
    grid-auto-rows: 20px;
    gap: 300px;
    width: 85%;
    margin: auto;
  }

  .category .container {
    height: 1530px;
  }

  .container .statistics{
    width: 80%;
    margin: auto;
  }
}

@media (min-width: 365px) {
  .swiper-container {
    width: 320px;
    height: 200px;
  }

  .iframe {
    width: 280px;
    height: 180px;
  }
}

/* responsive for larger than 575px screen */
@media (min-width: 575px) {
  .container {
    max-width: 520px;
    width: 100%;
    margin-inline: auto;
  }

  .grid-list {
    grid-template-columns: 1fr 1fr;
  }

  .blog .grid-list {
    grid-template-columns: 1fr;
  }

  .stats-card {
    padding: 40px 30px;
  }

  video {
    height: 250px;
  }

  .swiper-container {
    width: 405px;
    height: 250px;
  }

  .iframe {
    width: 350px;
    height: 200px;
  }
}

/* responsive for larger than 768px screen */
@media (min-width: 768px) {
  :root {
    --fs-1: 3.4rem;
    --fs-2: 2.8rem;
  }

  .container {
    max-width: 720px;
  }

  .btn {
    padding: 15px 30px;
  }

  .blog .grid-list {
    grid-template-columns: 1fr 1fr;
  }

  .hero {
    padding-block-start: calc(var(--section-padding) + 187px);
  }

  .hero .container {
    gap: 50px;
  }

  .hero-text {
    margin-block-end: 30px;
  }

  .hero-shape-1 {
    display: block;
    position: absolute;
    bottom: -70px;
    left: -50px;
  }

  .about {
    padding-block-start: 50px;
  }

  .about-banner {
    padding: 60px;
    padding-inline-end: 0;
  }

  .about-banner .img-holder {
    max-width: max-content;
    margin-inline: auto;
  }

  video {
    height: 350px;
  }

  .swiper-container {
    width: 520px;
    height: 300px;
  }

  .iframe {
    width: 450px;
    height: 250px;
  }
}

/* responsive for larger than 992px screen */
@media (min-width: 992px) {
  :root {
    --fs-1: 4.1rem;
    --fs-2: 3.2rem;
  }

  .container {
    max-width: 960px;
  }

  .grid-list {
    grid-template-columns: repeat(4, 1fr);
  }

  .blog .grid-list {
    grid-template-columns: repeat(3, 1fr);
  }

  .hero .container {
    grid-template-columns: 1fr 1fr;
    align-items: center;
  }

  .hero .section-title,
  .hero-text {
    text-align: left;
  }

  .hero .btn {
    margin-inline: 0;
  }

  .about .container {
    grid-template-columns: 1fr 0.6fr;
    align-items: center;
    gap: 60px;
  }

  .video-banner {
    max-width: 69%;
    margin-inline: auto;
  }

  video {
    height: 360px;
  }

  .swiper-container {
    width: 520px;
    height: 320px;
  }

  .iframe {
    width: 450px;
    height: 250px;
  }
}

/* responsive for larger than 1200px screen */
@media (min-width: 1200px) {
  :root {
    --fs-1: 4.8rem;
    --section-padding: 120px;
  }

  .container {
    max-width: 80vw;
  }

  .shape {
    display: block;
  }

  .about-content,
  .video-card,
  .blog {
    position: relative;
  }

  .hero {
    padding-block-start: calc(var(--section-padding) + 120px);
  }

  .hero .container {
    gap: 200px;
  }

  .hero-shape-2 {
    top: -80px;
    z-index: -1;
  }

  .about .container {
    gap: 110px;
  }

  .about-banner .img-holder {
    margin-inline: 0;
  }

  .about-shape-3 {
    top: -20px;
    left: -100px;
    z-index: -1;
  }

  .about-content {
    z-index: 1;
  }

  .about-shape-4 {
    top: 30px;
    right: -60px;
    z-index: -1;
  }

  .video-shape-2 {
    top: -80px;
    right: 120px;
    z-index: 1;
  }

  video {
    height: 460px;
  }

  .swiper-container {
    width: 565px;
    height: 350px;
  }

  .iframe {
    width: 500px;
    height: 300px;
  }
}

@media (max-width: 575px) {
  video {
    height: 200px;
  }
}
@media (max-width: 475px) {
  .section-title {
    font-size: 35px;
  }
  .span {
    font-size: 40px;
  }
}
