.category-card {
    position: relative;
    perspective: 800px;
    width: 100%;
    text-align: center;
    cursor: pointer;
    transform-style: preserve-3d;
    transition: transform 0.5s ease-in-out; /* Add smooth transition */
  }
  
  .category-card.flipped {
    transform: rotateY(180deg);
  }
  
  .category-card .card-front,
  .category-card .card-back {
    position: absolute;
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: hsla(var(--color), 0.1);
    backface-visibility: hidden;
    border-radius: var(--radius-10);
  }
  
  .category-card .card-front {
    padding: 0 10px;
    transform: rotateY(0deg);
    z-index: 2;
  }
  
  .category-card .card-back {
    padding: 30px 20px;
    transform: rotateY(180deg);
  }
  
  .category-card .card-icon {
    background-color: hsla(var(--color), 0.1);
    width: 80px;
    height: 80px;
    display: grid;
    place-items: center;
    border-radius: var(--radius-circle);
    margin-block-end: 30px;
  }
  
  .category-card .card-title {
    font-weight: var(--fw-600);
    margin-bottom: 20px;
    font-size: 29px;
  }
  
  .category-card .card-text {
    color: var(--eerie-black-1);
    font-size: 19px;
    margin-block: 15px 25px;
  }
  
  .category-card .card-badge {
    background-color: hsla(var(--color), 0.1);
    color: hsl(var(--color));
    font-size: var(--fs-5);
    font-weight: var(--fw-500);
    padding: 2px 18px;
    max-width: max-content;
    margin-inline: auto;
    border-radius: var(--radius-5);
  }
  
  .category-card:hover {
    transform: rotateY(180deg);
  }
  
  .grid-list .category-card {
    height: 100%;
  }
  