.notice {
    display: flex;
    justify-content: center;
    cursor: pointer;
}

.notice a {
    color: white;
}

.notice p {
    font-size: 13px;
    text-align: center;
}

.notice-holder {
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0,0,0,0.8);
    border-radius: 16px;
    padding: 15px 20px;
    background-image: linear-gradient(to left,
            transparent,
            transparent 50%,
            #1e73fd 50%,
            #1e73fd);
    background-size: 200% 100%;
    background-position: 100% 0;
    transition: all 0.25s ease-in;
}

.know-more{
    position: absolute;
    opacity: 0;
    color: white;
    transition: opacity 0.25s ease-in;
}

.notice-holder:hover {
    background-position: 0 0;
    color: #1e73fd;
}

.notice-holder:hover > .know-more{
    opacity: 1;
}

