.footer {
    background-repeat: no-repeat;
    background-color: var(--eerie-black-2);
    color: var(--gray-x-11);
    font-size: var(--fs-5);
    width: 100%;
    /* min-width: 365px; */
}

.footer-top {
    height: auto;
    padding-top: 50px;
}

.footer-brand {
    display: flex;
}

.footer-brand-text {
    margin-block: 20px;
}

.flexlinks {
    margin-left: 450px;
    margin-top: 50px;
}

.footer-brand .wrapper {
    display: flex;
    align-items: center;
}

.footer-brand .wrapper:last-child {
    margin-block-start: 5px;
}

.footer-link {
    transition: var(--transition-1);
    color: rgb(200, 187, 187);
}

.footer-link:is(:hover, :focus) {
    color: var(--kappel);
}

.wrapper-1 {
    margin: 0 10px 0 7px;
}

.social-list {
    display: flex;
    gap: 25px;
}

.social-link {
    font-size: 25px;
    color: lightyellow;
}

.social-link:hover {
    transform: scale(1.1);
    transition: all 200ms ease-in;
}

.social-list li:nth-child(1) .social-link:hover {
    color: #4267b2;
}

.social-list li:nth-child(2) .social-link:hover {
    color: #0077b5;
}

.social-list li:nth-child(3) .social-link:hover {
    color: #e1306c;
}

.social-list li:nth-child(4) .social-link:hover {
    color: #1da1f2;
}

.social-list li:nth-child(5) .social-link:hover {
    color: #666667;
}

.social-list li:nth-child(6) .social-link:hover {
    color: #7289d9;
}

.footer-bottom {
    margin-block-start: 15px;
    padding-block: 30px;
}

.copyright {
    font-size: var(--fs-7);
    cursor: default;
    text-align: center;
}

.copyright-link {
    color: var(--kappel);
    display: inline-block;
}
.X-logo{
    height:20px;
   width: 20px;
    margin-bottom: 7px;
}

@media (max-width: 1232px) {
    .flexlinks {
        margin-left: 200px;
        margin-top: 60px;
    }
}

@media (max-width: 1004px) {
    .flexlinks {
        margin-left: 100px;
        margin-top: 60px;
    }
}

@media (max-width:811px) {
    .flexlinks {
        margin-left: 50px;
        margin-top: 60px;
    }

    .footer-top {
        font-size: 14px;
    }

    .footer-brand {
        margin-left: -20px;
    }

    .footer-bottom {
        font-size: 14px;
    }
}

@media (max-width:705px) {
    .footer-top {
        font-size: 16px;
    }

    .footer-brand {
        display: flex;
        flex-direction: column;
        margin-left: 20px;
    }

    .footer-brand div {
        margin-left: 0px;
    }
}

@media (min-width: 575px) {

    .footer-brand,
    .footer-list:last-child {
        grid-column: 1 / 3;
    }

    /* .newsletter-form {
        display: flex;
        align-items: center;
        gap: 10px;
    }

    .newsletter-form .email-field {
        margin-block-end: 0;
    }

    .newsletter-form .btn {
        min-width: max-content;
    } */
}


@media (min-width: 768px) {

    .footer-brand,
    .footer-list:last-child {
        grid-column: auto / auto;
    }

    .footer-top .container {
        display: flex;
        flex-direction: column;
    }
}


@media (min-width: 992px) {

    .footer-top .container {
        flex-direction: row;
    }
}

@media (max-width: 407px) {
    .wrapper-1 {
        display: none;
    }
}
