.footer {
    background-repeat: no-repeat;
    background-color: var(--eerie-black-2);
    color: var(--gray-x-11);
    font-size: var(--fs-5);
    width: 100%;
    min-width: 365px;
}

.footer-brand-text {
    position: relative;
    margin-block: 20px;
    right: 28rem;
    top:-2rem;
    text-align: center;
    margin-top: 20px;
}

.footer-brand >img{
    position:relative;
    top:-3rem;
    right: 45rem;
    display: block;
    margin: 0 auto;
}

.footer-brand .wrapper {
    display: flex; 
    align-items: center;
    gap: 5px;
    position: relative;
    bottom: -1rem;
    left: -4rem;
}

.footer-brand .wrapper:last-child {
    margin-block-start: 60px;
}

.footer-link {
    transition: var(--transition-1);
    color: rgb(200, 187, 187);
}

.footer-link:is(:hover, :focus) {
    color: var(--kappel);
}

.wrapper-1{
    margin: 0 10px 0 7px;
}

.footer-brand .wrapper .social-list {
    position: relative;
    right: -63rem;
    display: flex;
    gap: 25px;
    top:-7rem;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.social-link {
    font-size: 25px;
    color: lightyellow;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
}

/* Facebook */
.social-link.facebook:hover {
    color: #3b5998;
    transform: scale(1.1);
  }
  
  /* LinkedIn */
  .social-link.linkedin:hover {
    color: #0077b5;
    transform: scale(1.1);
  }
  
  /* Instagram */
  .social-link.instagram:hover {
    color: #c32aa3;
    transform: scale(1.1);
  }
  
  /* Twitter */
  .social-link.twitter:hover {
    color: #1da1f2;
    transform: scale(1.1);
  }
  
  /* GitHub */
  .social-link.github:hover {
    color: #333;
    transform: scale(1.1);
  }
  
  /* Discord */
  .social-link.discord:hover {
    color: #7289da;
    transform: scale(1.1);
  }

.footer-line {
    border-top: 1px solid #ccc;
    margin-bottom: 80px;
    position: relative;
    top:-8rem;
    border-top: 1px solid #ccc;
    margin-top: 20px;
    margin-bottom: 20px;
  }

.copyright {
    cursor: default;
    text-align: center;
    position: relative;
    top:-4rem;
}

.copyright-link {
    color: var(--kappel);
    display: inline-block;
}

  @media (max-width: 768px) {
    .footer-brand .wrapper:last-child {
      margin-top: 40px;
    }

    .footer-brand>img{
        left:2px;
    }

    .footer-brand-text{
        display: flex;
        flex-wrap: wrap;
        left:2px;
    }

    .footer-brand .wrapper{
        left:1rem;
        top:-2rem;
    }
  
    .footer-brand .wrapper .social-list {
      position: relative;
      left: 0.3rem;
      top: -1.9rem;

    }
  
    .footer-brand {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  
    .footer-brand-logo {
      margin-bottom: 10px;
    }
  }