#themeToggle {
    visibility: hidden;
}

#themeToggle+label {
    content: '';
    display: inline-block;
    cursor: pointer;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    transition: all 0.3s ease-in-out;
}

#themeToggle:not(:checked)+label {
    background-color: gold;
}

#themeToggle:checked+label {
    background-color: transparent;
    box-shadow: inset -18px -16px 1px -6px #151515;
}