li {
    list-style: none;
    cursor: pointer;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    height: 70px;
    min-width: 365px;
    width: 100%;
    position: fixed;
    background: rgba(255, 255, 255, 0.65);
    backdrop-filter: blur(18.5px);
    color: black;
    
    z-index: 10;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    transition: height 200ms ease-in;
}

.navbar .community_img{
    transform: scale(0.8);
    transition: all 200ms ease-in-out;
}

.navbar_scroll {
    display: flex;
    color: black;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    height: 85px;
    min-width: 365px;
    width: 100%;
    background-color: white;
    z-index: 10;
    position: fixed;
    transition: height 200ms ease-out;
}

.navbar_scroll .community_img{
    transform: scale(1);
    transition: all 200ms ease-in-out;
}

/* NAVBAR MENU */
.menu {
    display: flex;
    align-items: center;
    gap: 1em;
    font-size: 18px;
}

.menu li:hover {
    background: rgb(249, 227, 227);
    border-radius: 5px;
    transition: 0.3s ease;
}

.menu li {
    padding: 5px 14px;
    color: black;
}

input[type="checkbox"] {
    display: none;
}

/*HAMBURGER MENU*/
.hamburger {
    display: none;
    user-select: none;
    cursor: pointer;
}

.community_logo {
    display: grid;
    place-items: center;
    margin-left: 8px;
    margin-top: 10px;
}

/* APPLYING MEDIA QUERIES */
@media (max-width: 768px) {


    .community_logo {
        margin-left: -10px;
    }

    .navbar {
        background-color: white;
    }

    .hamburger {
        display: block;
    }

    .menu {
        display: none;
        background-color: var(--white);
        position: absolute;
        left: 0;
        width: 100vw;
        height: 100vh;
        min-height: 100%;
        z-index: 10;
        min-width: 365px;
    }

    .navbar .menu{
        top: 70px;
    }

    .navbar_scroll .menu{
        top: 85px;
    }

    .menu li {
        transform: translateY(-150%);
        color: var(--eerie-black-1);
    }

    .menu li:hover {
        display: inline-block;
        transition: 0.3s ease;
        background: rgb(249, 227, 227);
    }

    input[type="checkbox"]:checked~.menu {
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: fixed;
    }

    .hideOverflow {
        overflow: hidden;
    }

    #userlogout {
        margin-top: 30px;
    }
}

.logout {
    display: flex;
    align-items: center;
}

#logout {
    font-size: 0.96rem;
    border-radius: 10px;
    color: teal;
    padding: 10px;
    overflow: hidden;
    cursor: pointer;
}