li {
    list-style: none;
    cursor: pointer;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    height: 80px;
    min-width: 365px;
    width: 100%;
    position: fixed;
    background: rgba(255, 255, 255, 0.65);
    backdrop-filter: blur(18.5px);
    color: black;
    z-index: 10;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.navbar_scroll {
    color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    height: 80px;
    min-width: 365px;
    width: 100%;
    background-color: white;
    z-index: 10;
    position: fixed;
}

.community_img{
    margin-inline-end: 15px;
}

/* NAVBAR MENU */
.menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 18px;
}


.menu li:hover {
    background: rgb(249, 227, 227);
    border-radius: 5px;
    transition: 0.3s ease;
}

.menu li {
    padding: 5px 14px;
    color: black;
}

input[type="checkbox"] {
    display: none;
}

.left-menu {
    display: flex;
    gap: 0em;
}

.right-menu {
    display: flex;
    align-items: center;
    height: 100%;
    gap: 0.6em;
}


/* DROPDOWN MENU */
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 5px;
    font-size: 18px;
}

.dropdown-content a {
    color: black;
    padding: 6px 5px;
    text-decoration: none;
    display: block;
}

.dropdown:hover .dropdown-content {
    display: block;
}

/*HAMBURGER MENU*/
.hamburger {
    display: none;
    user-select: none;
    cursor: pointer;
}

.community_logo {
    display: flex;
    margin-left: 8px;
    align-items: center;
}

.mobile {
    display: none;
}

/* APPLYING MEDIA QUERIES */

@media (max-width: 850px) {
    .community_logo {
        margin-left: -10px;
    }

    .navbar {
        background-color: white;

    }

    .hamburger {
        display: flex;

    }

    .menu {
        display: none;
        background-color: var(--white);
        position: absolute;
        left: 0;
        width: 100vw;
        height: 100vh;
        min-height: 100%;
        z-index: 10;
        min-width: 365px;
        overflow-y: auto;
        margin-top: 6px;
        gap: 0.3em;
    }


    .navbar .menu {
        top: 70px;
    }

    .navbar_scroll {
        display: flex;
        justify-content: space-between;
    }

    .navbar_scroll .menu {
        top: 75px;
    }

    .menu li {
        /* transform: translateY(-150%); */
        color: var(--eerie-black-1);

    }

    .menu li:hover {
        display: inline-block;
        transition: 0.3s ease;
        background: rgb(249, 227, 227);
    }

    input[type="checkbox"]:checked~.menu {
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: fixed;
    }

    .hideOverflow {
        overflow: hidden;
    }

    #userlogout {
        margin-top: 30px;
    }

    .dropdown-content {
        display: none;
        position: absolute;
        min-width: 160px;
        box-shadow: none;
        z-index: 1;
        border-radius: 5px;
        font-size: 18px;
        background-color: white;

    }

    .dropdown-content a {
        color: black;
        padding: 0;
        text-decoration: none;
        display: flex;
        background: none;
    }


    .dropdown:hover .dropdown-content {
        display: block;

    }

    .mobile-theme {
        display: none;
    }

    .mobile {
        display: block;
        position: absolute;
        right: 13%;
    }

    /* .left-menu{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1em;
        margin-top: 40%;
     } */
    .left-menu {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0.5em;
    }

    /* .dropdown-menu {
       position: static;
    }
    .dropdown li {
        transform: none;
    } */

}

.logout {
    display: flex;
    align-items: center;
    padding: 3px;
}

#logout {
    font-size: 0.96rem;
    border-radius: 10px;
    color: teal;
    padding: 10px;
    overflow: hidden;
    cursor: pointer;
}

/* .dropdown-menu {
    position: absolute;
    top: 70px;
    right: 10px;
    background-color: #fff;
    padding: 10px;
    list-style-type: none;
    border-radius: 4px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }  
  .dropdown-options {
    display: flex;
    /* justify-content: center; */
/* align-items: center;
  } */