li {
    list-style: none;
    cursor: pointer;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    height: 99px;
    min-width: 365px;
}

.navbar img {
    margin-top: 12px;
    margin-left: -15px;
}

/* NAVBAR MENU */
.menu {
    display: flex;
    align-items: center;
    gap: 1em;
    font-size: 18px;
}

.menu li:hover {
    background: rgb(249, 227, 227);
    border-radius: 5px;
    transition: 0.3s ease;
}

.menu li {
    padding: 5px 14px;
    color: black;
}

input[type="checkbox"] {
    display: none;
}

/*HAMBURGER MENU*/
.hamburger {
    display: none;
    font-size: 24px;
    user-select: none;
}

/* APPLYING MEDIA QUERIES */
@media (max-width: 768px) {
    .menu {
        display: none;
        background-color: white;
        position: absolute;
        top: 90px;
        left: 0;
        width: 100vw;
        min-height: 100%;
        z-index: 10;
        min-width: 365px;
    }

    .menu li {
        transform: translateY(-150%);
    }

    .menu li:hover {
        display: inline-block;
        transition: 0.3s ease;
        background: rgb(249, 227, 227);
    }

    /* input[type="checkbox"]:checked+body {
        overflow: hidden;
    } */

    input[type="checkbox"]:checked~.menu {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: fixed;
    }

    .hideOverflow {
        overflow: hidden;
    }

    .hamburger {
        display: block;
    }

    #userlogout{
        margin-top: 30px;
    }
}

.logout {
    display: flex;
    align-items: center;
}

#logout {
    font-size: 0.96rem;
    border-radius: 10px;
    color: teal;
    padding: 10px;
    overflow: hidden;
    cursor: pointer;
}