.dropdown-menu {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 70px;
  right: 10px;
  background-color: #fff;
  padding: 10px;
  list-style-type: none;
  border-radius: 6px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.dropdown-options {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

@media (max-width: 850px) {
  .dropdown-menu {
    position: static;
  }
}